@import "index";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
  background-color: $ugoro;
  font-family: $fontHeader;
  font-weight: 400;
  font-size: 16px;

  //min-height: 90vh;

  .subContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      font-family: $fontHeader;

      font-weight: 700;
      font-size: 46px;
      margin: 0px;
      margin-top: 35px;
      margin-bottom: 20px;
      margin-left: 15px;
      width: 100%;

      .block {
        display: inline-block;
        white-space: nowrap;
      }

      $main-green: #53f765;
      $main-yellow: #fffd35;
      $main-orange: #ff9c00;
      $main-red: #ff3368;
      $main-blue: #32f8ff;
      $main-darkblue: #324fff;
      $margin: -0.01rem;

      .glitch {
        color: $gold;
        line-height: 1;
      }

      .characterscontainer {
        position: relative;
        margin: $margin/2 0;
      }

      .character {
        display: inline-block;
        position: relative;
        letter-spacing: -$margin/1.5;
      }

      .character:nth-child(even) {
        bottom: $margin/3;
      }

      @-webkit-keyframes glitch-animation-after {
        0% {
          clip: rect(15px, 600px, 100px, 0);
        }
        6.66667% {
          clip: rect(6px, 600px, 94px, 0);
        }
        13.33333% {
          clip: rect(28px, 600px, 58px, 0);
        }
        20% {
          clip: rect(32px, 600px, 37px, 0);
        }
        26.66667% {
          clip: rect(76px, 600px, 39px, 0);
        }
        33.33333% {
          clip: rect(74px, 600px, 36px, 0);
        }
        40% {
          clip: rect(81px, 600px, 34px, 0);
        }
        46.66667% {
          clip: rect(54px, 600px, 14px, 0);
        }
        53.33333% {
          clip: rect(65px, 600px, 50px, 0);
        }
        60% {
          clip: rect(85px, 600px, 100px, 0);
        }
        66.66667% {
          clip: rect(61px, 600px, 72px, 0);
        }
        73.33333% {
          clip: rect(23px, 600px, 65px, 0);
        }
        80% {
          clip: rect(0, 0, 0, 0);
        }
        100% {
          clip: rect(0, 0, 0, 0);
        }
      }

      @keyframes glitch-animation-after {
        0% {
          clip: rect(65px, 600px, 39px, 0);
        }
        6.66667% {
          clip: rect(19px, 600px, 21px, 0);
        }
        13.33333% {
          clip: rect(80px, 600px, 51px, 0);
        }
        20% {
          clip: rect(6px, 600px, 16px, 0);
        }
        26.66667% {
          clip: rect(31px, 600px, 95px, 0);
        }
        33.33333% {
          clip: rect(94px, 600px, 84px, 0);
        }
        40% {
          clip: rect(84px, 600px, 74px, 0);
        }
        46.66667% {
          clip: rect(97px, 600px, 55px, 0);
        }
        53.33333% {
          clip: rect(7px, 600px, 18px, 0);
        }
        60% {
          clip: rect(24px, 600px, 17px, 0);
        }
        66.66667% {
          clip: rect(28px, 600px, 97px, 0);
        }
        73.33333% {
          clip: rect(61px, 600px, 2px, 0);
        }
        80% {
          clip: rect(0, 0, 0, 0);
        }
        100% {
          clip: rect(0, 0, 0, 0);
        }
      }

      @-webkit-keyframes glitch-animation-before {
        0% {
          clip: rect(62px, 600px, 45px, 0);
        }
        6.66667% {
          clip: rect(46px, 600px, 67px, 0);
        }
        13.33333% {
          clip: rect(68px, 600px, 49px, 0);
        }
        20% {
          clip: rect(82px, 600px, 56px, 0);
        }
        26.66667% {
          clip: rect(53px, 600px, 6px, 0);
        }
        33.33333% {
          clip: rect(9px, 600px, 90px, 0);
        }
        40% {
          clip: rect(95px, 600px, 69px, 0);
        }
        46.66667% {
          clip: rect(50px, 600px, 99px, 0);
        }
        53.33333% {
          clip: rect(4px, 600px, 60px, 0);
        }
        60% {
          clip: rect(78px, 600px, 97px, 0);
        }
        66.66667% {
          clip: rect(30px, 600px, 69px, 0);
        }
        73.33333% {
          clip: rect(68px, 600px, 49px, 0);
        }
        80% {
          clip: rect(0, 0, 0, 0);
        }
        100% {
          clip: rect(0, 0, 0, 0);
        }
      }

      @keyframes glitch-animation-before {
        0% {
          clip: rect(86px, 600px, 98px, 0);
        }
        6.66667% {
          clip: rect(62px, 600px, 92px, 0);
        }
        13.33333% {
          clip: rect(91px, 600px, 20px, 0);
        }
        20% {
          clip: rect(47px, 600px, 44px, 0);
        }
        26.66667% {
          clip: rect(1px, 600px, 77px, 0);
        }
        33.33333% {
          clip: rect(99px, 600px, 22px, 0);
        }
        40% {
          clip: rect(44px, 600px, 12px, 0);
        }
        46.66667% {
          clip: rect(71px, 600px, 65px, 0);
        }
        53.33333% {
          clip: rect(52px, 600px, 28px, 0);
        }
        60% {
          clip: rect(10px, 600px, 15px, 0);
        }
        66.66667% {
          clip: rect(75px, 600px, 69px, 0);
        }
        73.33333% {
          clip: rect(57px, 600px, 62px, 0);
        }
        80% {
          clip: rect(0, 0, 0, 0);
        }
        100% {
          clip: rect(0, 0, 0, 0);
        }
      }

      .glitch:before,
      .glitch:after {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: rgba(204, 57, 107, 0);
        clip: rect(0, 0, 0, 0);
      }

      .glitch:after {
        left: 2px;
        text-shadow: -5px 0 rgba(255, 51, 104, 0.5);
        animation: glitch-animation-after 2s infinite linear alternate-reverse;
      }

      .glitch:before {
        left: -2px;
        text-shadow: 5px 0 rgba(94, 38, 255, 0.5);
        animation: glitch-animation-before 3s infinite linear alternate-reverse;
      }
    }
  }
  .innerContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    justify-content: flex-start;
    align-items: flex-start;

    .details {
      font-size: 22px;
      color: $white;
      font-weight: 400;
      padding: 0px 15px;
    }

    .contact {
      display: flex;
      flex-direction: row;
      width: 100%;

      .button {
        font-family: $fontHeader;
        width: 100%;
        height: fit-content;
        color: #fff;
        border-radius: 5px;
        padding: 15px 20px;
        font-weight: 700;
        font-size: 18px;
        background: transparent;
        cursor: pointer;
        position: relative;
        display: inline-block;
        border: none;
        margin-bottom: 45px;
      }

      .light {
        border: none;
        background: $green;
        background: linear-gradient(0deg, $green 0%, $gold 100%);
        color: #fff;
        overflow: hidden;
      }

      .light:hover {
        text-decoration: none;
        color: #fff;
      }

      .light:before {
        position: absolute;
        content: "";
        display: inline-block;
        top: -180px;
        left: 0;
        width: 30px;
        height: 100%;
        background-color: #fff;
        animation: shiny-btn1 3s ease-in-out infinite;
      }

      .light:hover {
        opacity: 0.7;
      }

      .light:active {
        box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3),
          -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
          inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
          inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
      }

      @keyframes shiny-btn1 {
        0% {
          -webkit-transform: scale(0) rotate(45deg);
          opacity: 0;
        }

        80% {
          -webkit-transform: scale(0) rotate(45deg);
          opacity: 0.5;
        }

        81% {
          -webkit-transform: scale(4) rotate(45deg);
          opacity: 1;
        }

        100% {
          -webkit-transform: scale(50) rotate(45deg);
          opacity: 0;
        }
      }

      .dark {
        border: none;
        background: $green;
        background: linear-gradient(0deg, $green 0%, $gold 100%);
        color: #fff;
        overflow: hidden;
        opacity: 0.5;
      }

      .dark:before {
        position: absolute;
        content: "";
        display: inline-block;
        top: -180px;
        left: 0;
        width: 30px;
        height: 100%;
        background-color: #fff;
        animation: shiny-btn1 3s ease-in-out infinite;
      }

      .dark:active {
        box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3),
          -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
          inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
          inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
      }

      @keyframes shiny-btn1 {
        0% {
          -webkit-transform: scale(0) rotate(45deg);
          opacity: 0;
        }

        80% {
          -webkit-transform: scale(0) rotate(45deg);
          opacity: 0.5;
        }

        81% {
          -webkit-transform: scale(4) rotate(45deg);
          opacity: 1;
        }

        100% {
          -webkit-transform: scale(50) rotate(45deg);
          opacity: 0;
        }
      }

      .contactHeder {
        flex: 1;
        padding: 10px;

        h2 {
          color: $green;
          margin-bottom: 0px;
          margin-top: 10px;
          font-size: 35px;

          span {
            color: $gold;
          }
        }

        .quotation {
          display: flex;
          flex-direction: row;
          color: $gold;
          font-weight: 400;
          padding: 15px 15px;
          padding-right: 45px;

          .quoteLeft {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            text-align: start;
            font-size: 30px;
          }

          .qouteText {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            text-align: center;
            width: fit-content;
            font-size: 28px;
          }

          .quoteRight {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            text-align: start;
            font-size: 30px;
          }
        }
      }

      .contactForm {
        flex: 1;
        padding: 15px;
        margin-top: 20px;
      }

      @media only screen and (max-width: 815px) {
        flex-direction: column;

        .contactHeder {
          h2 {
            margin-top: 0px;
          }
        }
        .contactForm {
          margin-top: 10px;
        }
      }
    }
  }

  .line {
    height: 5px;
    background-color: $gold;
    width: 100px;
    margin-left: 3px;
  }

  .inputBox {
    position: relative;
    width: 100%;
    margin-bottom: 15px;

    input {
      border: 2px solid $ugoro;
      padding: 10px;
      font-size: 18px;
      font-weight: 500;
      border-radius: 5px;
      width: 100%;
      outline: none;
      font-family: $fontHeader;
      margin-bottom: 10px;
      color: $black;
      z-index: 1;

      &:valid ~ span,
      &:focus ~ span {
        color: $lightblue;
        transform: translateX(10px) translateY(-15px);
        font-size: 16px;
        padding: 4px 10px 0px 10px;
        background-color: $white;
        font-weight: 600;
        border-radius: 2px;
        z-index: 0;
        left: 0px;
      }

      &:valid,
      &:focus {
        border: 2px solid $lightblue;
        z-index: 0;
      }
    }

    textarea {
      border: 2px solid $ugoro;
      padding: 10px;
      font-size: 18px;
      font-weight: 500;
      border-radius: 5px;
      width: 100%;
      outline: none;
      font-family: $fontHeader;
      margin-bottom: 10px;
      color: $black;
      z-index: 1;

      &:valid ~ span,
      &:focus ~ span {
        color: $lightblue;
        transform: translateX(10px) translateY(-15px);
        font-size: 16px;
        padding: 4px 10px 0px 10px;
        background-color: $white;
        font-weight: 600;
        border-radius: 2px;
        z-index: 0;
        left: 0px;
      }

      &:valid,
      &:focus {
        border: 2px solid $lightblue;
        z-index: 0;
      }
    }

    span {
      position: absolute;
      left: 10px;
      top: 3px;
      padding: 10px;
      pointer-events: none;
      font-size: 18px;
      font-weight: 400;
      color: $gray;
      // text-transform: uppercase;
      font-family: $fontHeader;
      transition: 0.5s;
      z-index: 0;
    }
  }
}
