@import "index";
.container {
  background-color: $ugoro;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  margin: 0px;

  .innerContainer {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-gap: 15px;
    color: $white;
    align-content: flex-start;
    justify-content: space-around;
    //padding: 10px;

    @media (min-width: 268px) {
      grid-template-columns: repeat(1, 1fr);
      align-items: center;
      justify-content: center;
    }

    @media (min-width: 568px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 888px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }

    .footerDetails {
      display: flex;
      flex-direction: column;
      height: 200px;
      width: 100%;
      font-family: $fontHeader;

      .body {
        padding: 2px 15px;
        width: 100% !important;
        font-size: 18px;
        cursor: pointer;
        border: 2px solid transparent;
        font-style: italic;
      }

      .header {
        font-family: $fontHeader;
        font-weight: 700;
        padding: 10px;
        margin-bottom: 20;
        font-size: 30px;
        text-transform: uppercase;
        color: $gold;
      }

      .buziness {
        color: $gold;
        font-weight: 700;
      }
    }
  }

  .copyrights {
    color: $gold;
    padding: 20px 20px 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
  }
  .product {
    color: $white;
    padding: 10px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.socialmenu {
  @media (min-width: 268px) {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
  }

  @media (min-width: 568px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 888px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }

  .media {
    transition: 0.5s;
    font-size: 35px;
    margin: 5px;
  }

  .media:hover {
    scale: 1.5;
  }
}
