@import "index";
.backToTop {
  display: none;
  flex-direction: column;
  align-items: center;
  place-self: end;
  position: fixed;
  //margin-top: calc(100vh + $height);
  bottom: 60px;
  right: 40px;
  z-index: 9999;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: $green;
}

.whatsaap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  place-self: end;
  position: fixed;
  //margin-top: calc(100vh + $height);
  bottom: 49px;
  left: 35px;
  z-index: 9999;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: $white;
  background-color: $green;
  border-radius: 50%;
  padding: 10px;
}

.whatsaap:hover {
  scale: 1.3;
}

.backToTop:hover {
  scale: 1.3;
}

.Show {
  display: flex;
}

.vibrater {
  animation: vibrate 0.3s linear infinite both;
}

.fire {
  transform: rotateX(180deg);
  color: $lightblue;
  position: absolute;
  top: 43px;
}

@keyframes vibrate {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
