@import "index";

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Montserrat";
  margin: 0px;
  padding: 0px;

  * {
    transition: 0.1s linear;
  }
  position: relative;

  .background {
    position: absolute;
    left: 100px;
    top: 30%;
    width: 50%;
    padding: 15px;
    height: max-content;
    padding: 20px;
    z-index: 10;
    color: $white;
    background: -webkit-linear-gradient(
      right,
      rgba(black, 1) 0%,
      rgba(255, 255, 0, 0.315) 100%
    );
    background: -moz-linear-gradient(
      right,
      rgba(black, 1) 0%,
      rgba(255, 255, 0, 0.315) 100%
    );
    background: -ms-linear-gradient(
      right,
      rgba(black, 1) 0%,
      rgba(255, 255, 0, 0.315) 100%
    );
    background: linear-gradient(
      to right,
      rgba(black, 1) 0%,
      rgba(255, 255, 0, 0.315) 100%
    );
    border-radius: 5px;

    h1 {
      font-family: $fontHeader;
      font-style: normal;
      font-weight: 800;
      font-size: 40px;
      // text-transform: uppercase;
      margin-bottom: 5px;
    }

    p {
      font-family: $fontHeader;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 1.5rem;
    }
  }
}

.section {
  width: 100%;
  max-width: 1800px;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  z-index: 999;
}

.hero {
  width: 100%;
  margin: 0px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  position: relative;
  height: 600px;
  .image {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
  }
}

@media only screen and (max-width: 1150px) {
  .hero {
    .info {
      .details {
        p {
          font-size: 16px;
        }
      }
    }
  }
}

@media only screen and (max-width: 858px) {
  .hero {
    height: 500px;
    .info {
      .details {
        p {
          font-size: 14px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1008px) {
  .background {
    width: 0%;
  }
}

@media only screen and (max-width: 458px) {
  .background {
    width: 0%;
  }
}
