@media only screen and (max-width: 900px) {
  .pc {
    display: none;
  }
}
@media only screen and (min-width: 900px) {
  .mobile {
    display: none;
  }
}

.fixed {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
}
