@import "index";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Montserrat";
  margin: 0px;
  padding: 0px;
  transition: 0.1s linear;
  position: relative;
  margin-top: 100px;
  max-width: 1800px;

  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1700px;
    align-self: center;
  }

  .background {
    position: absolute;
    left: 100px;
    top: 20%;
    height: max-content;
    padding: 40px;
    z-index: 10;
    border-radius: 15px;

    h1 {
      font-family: $fontHeader;
      font-style: normal;
      font-weight: 800;
      font-size: 100px;
      //text-transform: uppercase;
      margin: 0px;
      padding: 0px;
      color: $black;
    }

    .block {
      display: inline-block;
      white-space: nowrap;
    }

    $main-green: #53f765;
    $main-yellow: #fffd35;
    $main-orange: #ff9c00;
    $main-red: #ff3368;
    $main-blue: #32f8ff;
    $main-darkblue: #324fff;
    $margin: -0.01rem;

    .glitch {
      color: $ugoro;
      line-height: 1;
    }

    .characterscontainer {
      position: relative;
      margin: $margin/2 0;
    }

    .character {
      display: inline-block;
      position: relative;
      letter-spacing: -$margin/1.5;
    }

    .character:nth-child(even) {
      bottom: $margin/3;
    }

    @-webkit-keyframes glitch-animation-after {
      0% {
        clip: rect(15px, 600px, 100px, 0);
      }
      6.66667% {
        clip: rect(6px, 600px, 94px, 0);
      }
      13.33333% {
        clip: rect(28px, 600px, 58px, 0);
      }
      20% {
        clip: rect(32px, 600px, 37px, 0);
      }
      26.66667% {
        clip: rect(76px, 600px, 39px, 0);
      }
      33.33333% {
        clip: rect(74px, 600px, 36px, 0);
      }
      40% {
        clip: rect(81px, 600px, 34px, 0);
      }
      46.66667% {
        clip: rect(54px, 600px, 14px, 0);
      }
      53.33333% {
        clip: rect(65px, 600px, 50px, 0);
      }
      60% {
        clip: rect(85px, 600px, 100px, 0);
      }
      66.66667% {
        clip: rect(61px, 600px, 72px, 0);
      }
      73.33333% {
        clip: rect(23px, 600px, 65px, 0);
      }
      80% {
        clip: rect(0, 0, 0, 0);
      }
      100% {
        clip: rect(0, 0, 0, 0);
      }
    }

    @keyframes glitch-animation-after {
      0% {
        clip: rect(65px, 600px, 39px, 0);
      }
      6.66667% {
        clip: rect(19px, 600px, 21px, 0);
      }
      13.33333% {
        clip: rect(80px, 600px, 51px, 0);
      }
      20% {
        clip: rect(6px, 600px, 16px, 0);
      }
      26.66667% {
        clip: rect(31px, 600px, 95px, 0);
      }
      33.33333% {
        clip: rect(94px, 600px, 84px, 0);
      }
      40% {
        clip: rect(84px, 600px, 74px, 0);
      }
      46.66667% {
        clip: rect(97px, 600px, 55px, 0);
      }
      53.33333% {
        clip: rect(7px, 600px, 18px, 0);
      }
      60% {
        clip: rect(24px, 600px, 17px, 0);
      }
      66.66667% {
        clip: rect(28px, 600px, 97px, 0);
      }
      73.33333% {
        clip: rect(61px, 600px, 2px, 0);
      }
      80% {
        clip: rect(0, 0, 0, 0);
      }
      100% {
        clip: rect(0, 0, 0, 0);
      }
    }

    @-webkit-keyframes glitch-animation-before {
      0% {
        clip: rect(62px, 600px, 45px, 0);
      }
      6.66667% {
        clip: rect(46px, 600px, 67px, 0);
      }
      13.33333% {
        clip: rect(68px, 600px, 49px, 0);
      }
      20% {
        clip: rect(82px, 600px, 56px, 0);
      }
      26.66667% {
        clip: rect(53px, 600px, 6px, 0);
      }
      33.33333% {
        clip: rect(9px, 600px, 90px, 0);
      }
      40% {
        clip: rect(95px, 600px, 69px, 0);
      }
      46.66667% {
        clip: rect(50px, 600px, 99px, 0);
      }
      53.33333% {
        clip: rect(4px, 600px, 60px, 0);
      }
      60% {
        clip: rect(78px, 600px, 97px, 0);
      }
      66.66667% {
        clip: rect(30px, 600px, 69px, 0);
      }
      73.33333% {
        clip: rect(68px, 600px, 49px, 0);
      }
      80% {
        clip: rect(0, 0, 0, 0);
      }
      100% {
        clip: rect(0, 0, 0, 0);
      }
    }

    @keyframes glitch-animation-before {
      0% {
        clip: rect(86px, 600px, 98px, 0);
      }
      6.66667% {
        clip: rect(62px, 600px, 92px, 0);
      }
      13.33333% {
        clip: rect(91px, 600px, 20px, 0);
      }
      20% {
        clip: rect(47px, 600px, 44px, 0);
      }
      26.66667% {
        clip: rect(1px, 600px, 77px, 0);
      }
      33.33333% {
        clip: rect(99px, 600px, 22px, 0);
      }
      40% {
        clip: rect(44px, 600px, 12px, 0);
      }
      46.66667% {
        clip: rect(71px, 600px, 65px, 0);
      }
      53.33333% {
        clip: rect(52px, 600px, 28px, 0);
      }
      60% {
        clip: rect(10px, 600px, 15px, 0);
      }
      66.66667% {
        clip: rect(75px, 600px, 69px, 0);
      }
      73.33333% {
        clip: rect(57px, 600px, 62px, 0);
      }
      80% {
        clip: rect(0, 0, 0, 0);
      }
      100% {
        clip: rect(0, 0, 0, 0);
      }
    }

    .glitch:before,
    .glitch:after {
      content: attr(data-text);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background: rgba(204, 57, 107, 0);
      clip: rect(0, 0, 0, 0);
    }

    .glitch:after {
      left: 2px;
      text-shadow: -5px 0 rgba(255, 51, 104, 0.5);
      animation: glitch-animation-after 2s infinite linear alternate-reverse;
    }

    .glitch:before {
      left: -2px;
      text-shadow: 5px 0 rgba(94, 38, 255, 0.5);
      animation: glitch-animation-before 3s infinite linear alternate-reverse;
    }
  }
  @media only screen and (max-width: 1488px) {
    .background {
      padding: 20px;
      left: 50px;
      top: 30%;
      h1 {
        font-size: 90px;
      }
    }
  }

  @media only screen and (max-width: 1308px) {
    .background {
      padding: 10px;
      left: 50px;
      top: 30%;
      h1 {
        font-size: 80px;
      }
    }
  }

  @media only screen and (max-width: 1208px) {
    .background {
      // position: absolute;
      left: 20px;
      top: 20%;
      padding: 50px 40px;

      background: -webkit-linear-gradient(
        right,
        rgba($ugoro, 1) 0%,
        $black 100%
      );
      background: -moz-linear-gradient(right, rgba($ugoro, 1) 0%, $black 100%);
      background: -ms-linear-gradient(right, rgba($ugoro, 1) 0%, $black 100%);
      background: linear-gradient(to right, rgba($ugoro, 1) 0%, $black 100%);

      .glitch {
        color: $white;
      }

      h1 {
        font-size: 60px;
      }
    }
  }

  @media only screen and (max-width: 1000px) {
    .background {
      left: 10px;
      top: 150px;
      width: fit-content;
      padding: 40px 20px;

      h1 {
        font-size: 55px;
        margin-bottom: 0px;
      }
    }
  }

  @media only screen and (max-width: 880px) {
    .background {
      // position: absolute;
      left: 10px;
      top: 120px;
      width: fit-content;
      padding: 30px 15px;
      // height: max-content;
      // padding: 20px;
      // z-index: 10;
      // color: $white;
      h1 {
        font-size: 45px;
      }
    }
  }

  @media only screen and (max-width: 770px) {
    .background {
      // position: absolute;
      left: 10px;
      top: 120px;
      padding: 20px 10px;
      // height: max-content;
      // padding: 20px;
      // z-index: 10;
      // color: $white;
      h1 {
        font-size: 35px;
      }
    }
  }
  @media only screen and (max-width: 670px) {
    .background {
      // position: absolute;
      left: 55%;
      right: 10px;
      top: 50px;
      padding: 20px 10px;
      // height: max-content;
      padding: 12px;
      // z-index: 10;
      // color: $white;
      h1 {
        font-size: 30px;
      }
    }
  }

  @media only screen and (max-width: 565px) {
    .background {
      // position: absolute;
      left: 50%;
      right: 10px;
      top: 50px;
      padding: 20px 10px;
      // height: max-content;
      padding: 12px;
      // z-index: 10;
      // color: $white;
      h1 {
        font-size: 25px;
      }
    }
  }

  @media only screen and (max-width: 465px) {
    .background {
      // position: absolute;
      left: 45%;
      right: 10px;
      top: 50px;
      padding: 20px 10px;
      // height: max-content;
      // z-index: 10;
      // color: $white;
      h1 {
        font-size: 22px;
      }
    }
  }

  @media only screen and (max-width: 330px) {
    .background {
      // position: absolute;
      left: 30%;
      top: 50px;
      max-width: 250px;
      // z-index: 10;
      // color: $white;
      h1 {
        font-size: 20px;
      }
    }
  }
}

.hero {
  width: 100%;
  margin: 0px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  position: relative;
  height: 600px;
  .image {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
  }
}

//button
