@import "index";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin-bottom: 25px;
  font-family: $fontHeader;
  font-weight: 500;
  font-size: 1rem;
  scroll-margin-top: 90px;

  .subContainer {
    display: flex;
    flex-direction: column;

    h2 {
      font-family: $fontHeader;
      font-weight: 700;
      font-size: 30px;
      margin: 0px;
      margin-bottom: 10px;
      padding-bottom: 0px;
      margin-left: 0px;
      margin-top: 15px;
      color: $green;
    }
  }
}

.innerContainer {
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-gap: 15px;
  //margin-top: 20px;

  @media (min-width: 268px) {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
  }

  @media (min-width: 468px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 888px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
